################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/JsonApiDynamicObject/.vs/JsonApiDynamicObject
/JsonApiDynamicObject/JsonApiDynamicObject/bin/Debug/netstandard2.0
/JsonApiDynamicObject/JsonApiDynamicObject/obj
